<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=DESKTOP-IF3JUU7;Initial Catalog=Netflix2;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="selectParent" value="select * from Seriale"/>
    <add key="parentTableName" value="Seriale"/>
    <add key="childTableName" value="Sezoane"/>
    <add key="childColumnNames" value="id_sezon,nume,nr_sezon,nr_episoade,descriere,id_serial"/>
    <add key="childColumnValues" value="@nume,@nr_sezon,@nr_episoade,@descriere,@id_serial"/>-->
    
    
    
    
    <add key="selectParent" value="select * from Sezoane"/>
    <add key="parentTableName" value="Sezoane"/>
    <add key="childTableName" value="Episoade"/>
    <add key="childColumnNames" value="id_episod,nume,nr_episod,descriere,id_sezon"/>
    <add key="childColumnValues" value="@nume,@nr_episod,@descriere,@id_sezon"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>